

    <div id="categories" class="tab-pane fade in active">
      <h3>Categories</h3>
      <p><button style="color:white;background-color:#d65151;" type="button" onclick="adNewCategorie();" class="btn btn-secondary btn-sm">add categorie</button></p>
       <div id="operation"></div>
      <table id="imagesTable" class="table table-striped">
          <thead>
            <tr>
              <th>Categories</th>
              <th></th>
             

            </tr>
          </thead>
          <tbody>

  


 <% for (var i=0; i<result.length; i++) {%>
 <%console.log(result[i].categorie);%>
            <tr id = "categorie<%=result[i].categorie_id %>">
              <td><a onclick="makeCategorieEditable(<%=result[i].categorie_id %>,'<%=result[i].categorie %>');"  href="#<%=result[i].categorie_id %>"><%= result[i].categorie %></a></td>
              
              <td>
                  <input name="categorieDeleteids[]" type="checkbox" class="form-check-input" value="<%=result[i].categorie_id %>">
                
              </td>
            </tr>

 <%}%>
            <tr><td></td><td><button style="color:white;background-color:#d65151;" type="button" onclick="deleteCategorie();" class="btn btn-secondary btn-sm">delete selected</button></td></tr>
           
          </tbody>
      </table>
      <% if ( typeof page != 'undefined' ) { %>


            <a href="#" onclick="navigateToPage('categorieChangePage','-');" class="first">&laquo; prev</a>
            <%var k=0;%>
            <% for ( k=1; k<=totalpage; k++) { %>
            <%if (page !=k){%>
              <a href="#" class="next round " onclick="navigateToPage('categorieChangePage','<%= k%>')"> <%= k%> </a>
            <%}else{%>
              <a href="#" class="next round " style="background-color:#d65151;" onclick="navigateToPage('categorieChangePage','<%= k%>')"> <%= k%> </a>
            <%}%>
            <%}%>
            <a href="#" onclick="navigateToPage('categorieChangePage','+');"class="last">next &raquo;</a>
      <% } %>

    </div>