
<br>
    <div id="users" class="tab-pane fade in active">
      <h3>Users</h3>
     
       <div id="operation"></div>
      <table id="usersTable" class="table table-striped">
          <thead>
            <tr>
              <th>user name</th>
              <th>email</th>
              <th>account type</th>
              <th>last login</th>
              <th>account status</th>
             

            </tr>
          </thead>
          <tbody>

  


 <% for (var i=0; i<result.length; i++) {%>
 <%console.log(result[i].firstname);%>
            <tr id = "categorie<%=result[i].categorie_id %>">
              <td>
                <a onclick="makeCategorieEditable(<%=result[i].categorie_id %>,'<%=result[i].categorie %>');"  href="#<%=result[i].firstname %>"><%= result[i].firstname +" "+ result[i].lastname %></a>
              </td>
              <td>
                <%= result[i].email %>
              </td>
              <td>
                <%= result[i].accounttype %>
              </td>
              <td>
                <%= result[i].lastlogindate %>
              </td>
               <td>
                <%if  (result[i].suspend ==false) {%>
                    active
                <%} else {%>
                    suspended
                    <%}%>
              </td>
              <td>
                  <input name="categorieDeleteids[]" type="checkbox" class="form-check-input" value="<%=result[i].categorie_id %>">
                
              </td>
            </tr>

 <%}%>
            <tr><td></td><td></td><td></td><td></td><td></td>
              <td>
                <button style="color:white;background-color:#d65151;" type="button" onclick="suspendUser();" class="btn btn-secondary btn-sm">suspend selected</button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="activateUser();" class="btn btn-secondary btn-sm">suspend selected</button>
              </td>
            </tr>
           
          </tbody>
      </table>
      <% if ( typeof page != 'undefined' ) { %>


            <a href="#" onclick="navigateToPage('usersChangePage','categorieContent','-');" class="first">&laquo; prev</a>
            <%var k=0;%>
            <% for ( k=1; k<=totalpage; k++) { %>
            <%if (page !=k){%>
              <a href="#" class="next round " onclick="navigateToPage('usersChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}else{%>
              <a href="#" class="next round " style="background-color:#d65151;" onclick="navigateToPage('usersChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}%>
            <%}%>
            <a href="#" onclick="navigateToPage('usersChangePage','categorieContent','+');"class="last">next &raquo;</a>
      <% } %>

    </div>