

    <div id="categories" class="tab-pane fade in active">
      <h3>Categories</h3>
      <table id="imagesTable" class="table table-striped">
          <thead>
            <tr>
              <th>Categories</th>
              <th></th>
             

            </tr>
          </thead>
          <tbody>

  


 <% for (var i=0; i<result.length; i++) {%>
 <%console.log(result[i].categorie);%>
            <tr id = "categorie<%=result[i].categorie_id %>">
              <td><a onclick="makeCategorieEditable(<%=result[i].categorie_id %>,'<%=result[i].categorie %>');"  href="#<%=result[i].categorie_id %>"><%= result[i].categorie %></a></td>
              
              <td>
                  <input type="checkbox" class="form-check-input" value="<%=result[i].categorie_id %>">
                
              </td>
            </tr>
 <%}%>
           
          </tbody>
      </table>
            <a href="#" class="first">&laquo; First</a>
            <a href="#" class="next round"> 5 </a>
            <a href="#" class="next round"> 6 </a>
            <a href="#" class="next round"> 7 </a>
            <a href="#" class="last">Last &raquo;</a>

    </div>





                      <div id="users" class="tab-pane fade">
                        <h3>USERS</h3>
                        <table id="usersTable" class="table table-striped">
                          <thead>
                            <tr>
                              <th>Firstname</th>
                              <th>Lastname</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>John</td>
                              <td>Doe</td>
                              <td>john@example.com</td>
                            </tr>
                            <tr>
                              <td>Mary</td>
                              <td>Moe</td>
                              <td>mary@example.com</td>
                            </tr>
                            <tr>
                              <td>July</td>
                              <td>Dooley</td>
                              <td>july@example.com</td>
                            </tr>
                          </tbody>
                        </table>
                        <a href="#" class="first">&laquo; First</a>
                        <a href="#" class="next round"> 5 </a>
                        <a href="#" class="next round"> 6 </a>
                        <a href="#" class="next round"> 7 </a>
                        <a href="#" class="last">Last &raquo;</a>
                      </div>