 
<br>  
  <nav class="nav nav-pills nav-justified">
    <table>
      <tr>
       <td><a class="nav-link active" href="#" onclick="postStatusMyAccount('myaccountProfile','categorieContent');"> My Profile</a></td>
        <td>|</td>
        <td><a class="nav-link active" href="#" onclick="postStatusMyAccount('myaccountImages','categorieContent');"> My Photos</a></td>

      </tr>
    </table>
  </nav>

    <div id="myaccountsubDiv" class="tab-pane fade in active">
      <h3>My Photos</h3>
      <div id="operations"></div>
      <table width = "100%">
        <tr>
          <td width="60%"></td>
          <td width="70">Filter by:</td>
          <td width="130">License type</td>
          <td width="100">Privacy</td>
          <td>Verification</td>
          <td></td>
        </tr>
        <tr>
          <td>
              <div style="float:left;" class="btn-group">
                  <button style="color:white;background-color:#d65151;" type="button" onclick="window.location.href='/imgupload'" class="btn btn-secondary btn-sm">Upload photo </button>
                   &nbsp; &nbsp;
              </div>
          </td>
          <td > </td>
          <td>
             <select id="licence" class="selectpicker">
             <% if (listcon.licence == 'All'){%>
                <option selected>All</option>
                <option>Free</option>
                <option>Commercial</option>
              </select>
              <%}%>
              <% if (listcon.licence == 'Free'){%>
                <option >All</option>
                <option selected>Free</option>
                <option>Commercial</option>
              </select>
              <%}%>
              <% if (listcon.licence == 'Commercial'){%>
                <option >All</option>
                <option>Free</option>
                <option selected>Commercial</option>
              </select>
              <%}%>

          </td>
          <td>
           <% if (listcon.privacy == 'All'){%>
              <select id="privacy" class="selectpicker">
                <option selected>All</option>
                <option>Private</option>
                <option>Public</option>
              </select>
               <%}%>
            <% if (listcon.privacy == 'Private'){%>
              <select id="privacy" class="selectpicker">
                <option >All</option>
                <option selected>Private</option>
                <option>Public</option>
              </select>
               <%}%>
                <% if (listcon.privacy == 'Public'){%>
              <select id="privacy" class="selectpicker">
                <option>All</option>
                <option selected>Private</option>
                <option>Public</option>
              </select>
               <%}%>
          </td>
          <td>
           <% if (listcon.status == 'All'){%>
              <select id="status" class="selectpicker">
                <option selected>All</option>
                <option>Waiting</option>
                <option>Rejected</option>
                <option>Verified</option>
              </select>
              <%}%>
             <% if (listcon.status == 'Waiting'){%>
              <select id="status" class="selectpicker">
                <option>All</option>
                <option selected>Waiting</option>
                <option>Rejected</option>
                <option>Verified</option>
              </select>
              <%}%>
                         <% if (listcon.status == 'Rejected'){%>
              <select id="status" class="selectpicker">
                <option>All</option>
                <option>Waiting</option>
                <option selected>Rejected</option>
                <option>Verified</option>
              </select>
              <%}%>
               <% if (listcon.status == 'Verified'){%>
              <select id="status" class="selectpicker">
                <option>All</option>
                <option>Waiting</option>
                <option >Rejected</option>
                <option selected>Verified</option>
              </select>
              <%}%>

          </td>
          <td><button style="color:white;background-color:#d65151;" type="button" onclick="filterMyPhoto('myaccountImagesByConditionFilter','categorieContent');" class="btn btn-secondary btn-sm">Filter </button></td>
        </tr>
      </table><br>

        <div id="operation"></div>

      <table id="imagesTable" class="table table-striped">
          <thead>
            <tr>
             <th>ID</th>
              <th>Image</th>
              <th>Category</th>
              <th>Description</th>
              <th>Verification Status</th>
              <th>License Type</th>
              <th>Privacy</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

  


 <% for (var i=0; i<result.length; i++) {%>
  <% let extension=result[i].filepath.split('.') %>
        <% let ext=extension[1] %>

            <tr id = "photo<%=result[i].photo_id %>">
             <td>
                <%= result[i].photo_id %>
              </td>
              <td>
                <a target="_blank" onclick="makeCategorieEditable(<%=result[i].photo_id %>,'<%=result[i].photo_id %>');"  href="<%=result[i].filepath %>">
                <img src="<%= 'th_'+result[i].owner_user_id+'_'+result[i].photo_id+'.'+ext%>" alt="Image" style="width:150px">
                </a>
              </td>
              <td>
                <%= result[i].photo_categorie %>
              </td>
              <td>
                <%= result[i].description %>
              </td>
               <td>
                  <%= result[i].adminverified %>
              </td>
              <td>
                  <%= result[i].licencetype %>
              </td>
              <td>
                  <%= result[i].privacy %>
              </td>
              <td>
                  <input name="imageCheckboxids[]" type="checkbox" class="form-check-input" value="<%=result[i].photo_id %>">
                
              </td>
            </tr>

 <%}%>
            <tr>
              <td></td><td></td><td colspan="5">Set selected image(s) to:
              <button style="color:white;background-color:#d65151;" type="button" onclick="myaccountImagesChangePhotoProperties('myaccountImagesChangePhotoProperties','delete','categorieContent');" class="btn btn-secondary btn-sm">Delete </button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="myaccountImagesChangePhotoProperties('myaccountImagesChangePhotoProperties','public','categorieContent');" class="btn btn-secondary btn-sm">Public </button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="myaccountImagesChangePhotoProperties('myaccountImagesChangePhotoProperties','private','categorieContent');" class="btn btn-secondary btn-sm">Private</button>
                 <button style="color:white;background-color:#d65151;" type="button" onclick="myaccountImagesChangePhotoProperties('myaccountImagesChangePhotoProperties','commercial','categorieContent');" class="btn btn-secondary btn-sm">Commercial </button>
                 <button style="color:white;background-color:#d65151;" type="button" onclick="myaccountImagesChangePhotoProperties('myaccountImagesChangePhotoProperties','free','categorieContent');" class="btn btn-secondary btn-sm">Free </button>
              </td>
            </tr>
           
          </tbody>
      </table>
      <% if ( typeof page != 'undefined' ) { %>


            <a href="#" onclick="navigateToPage('myaccountimagesChangePage','categorieContent','-');" class="first">&laquo; Prev</a>
            <%var k=0;%>
            <% for ( k=1; k<=totalpage; k++) { %>
            <%if (page !=k){%>
              <a href="#" class="next round " onclick="navigateToPage('myaccountimagesChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}else{%>
              <a href="#" class="next round " style="background-color:#d65151;" onclick="navigateToPage('myaccountimagesChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}%>
            <%}%>
            <a href="#" onclick="navigateToPage('myaccountimagesChangePage','categorieContent','+');"class="last">Next &raquo;</a>
      <% } %>

    </div>