<br>  
  <nav class="nav nav-pills nav-justified">
    <table>
      <tr>
        <td><a class="nav-link active" href="#"  onclick="postStatusImage('images');" > list all</a></td>
        <td>|</td>
        <td><a class="nav-link active" href="#" onclick="postStatusImage('imagesListWaiting');"> waiting images</a></td>
        <td>|</td>
        <td><a class="nav-link active" href="#" onclick="postStatusImage('imagesListRejected');"> rejected images</a></td>
        <td>|</td>
        <td><a class="nav-link active" href="#" onclick="postStatusImage('imagesListVerified');"> verified images</a></td>
      </tr>
    </table>
  </nav>

    <div id="images" class="tab-pane fade in active">
      <h3>IMAGES</h3>
      <table id="imagesTable" class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Image</th>
              <th>Categorie</th>
              <th>Description</th>
              <th>owner</th>
              <th>verification status</th>
              <th>licence type</th>
              <th>privacy</th>
              <th>user published</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

  


 <% for (var i=0; i<result.length; i++) {%>
 <%console.log(result[i].filepath);%>
            <tr id = "photo<%=result[i].photo_id %>">
              <td>
                <%= result[i].photo_id %>
              </td>
              <td>

                <a target="_blank" onclick="makeCategorieEditable(<%=result[i].photo_id %>,'<%=result[i].photo_id %>');"  href="<%=result[i].filepath %>">
                <img src="<%=result[i].filepath %>" alt="Image" style="width:150px">
                </a>
              </td>
              <td>
                <%= result[i].photo_categorie %>
              </td>
              <td>
                <%= result[i].description %>
              </td>
              <td>
                <%= result[i].owner_user_id %>
              </td>
               <td>
                  <%= result[i].adminverified %>
              </td>
              <td>
                  <%= result[i].licencetype %>
              </td>
              <td>
                  <%= result[i].privacy %>
              </td>
              <td>
                  <%= result[i].published %>
              </td>
              <td>
                  <input name="imageCheckboxids[]" type="checkbox" class="form-check-input" value="<%=result[i].photo_id %>">
                
              </td>
            </tr>

 <%}%>
            <tr><td></td><td></td><td></td><td></td><td></td><td colspan="4">set verification status:
              
                <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusImage('waitingImage');" class="btn btn-secondary btn-sm">waiting </button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusImage('verifiedImage');" class="btn btn-secondary btn-sm">verified</button>
                 <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusImage('rejectedImage');" class="btn btn-secondary btn-sm">rejected </button>
              </td>
            </tr>
           
          </tbody>
      </table>
      <% if ( typeof page != 'undefined' ) { %>


            <a href="#" onclick="navigateToPage('imagesChangePage','categorieContent','-');" class="first">&laquo; prev</a>
            <%var k=0;%>
            <% for ( k=1; k<=totalpage; k++) { %>
            <%if (page !=k){%>
              <a href="#" class="next round " onclick="navigateToPage('imagesChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}else{%>
              <a href="#" class="next round " style="background-color:#d65151;" onclick="navigateToPage('imagesChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}%>
            <%}%>
            <a href="#" onclick="navigateToPage('imagesChangePage','categorieContent','+');"class="last">next &raquo;</a>
      <% } %>

    </div>