 
<br>  
  <nav class="nav nav-pills nav-justified">
    <table>
      <tr>
       <td><a class="nav-link active" href="#" onclick="postStatusMyAccount('myaccountProfile','categorieContent');"> my profile</a></td>
        <td>|</td>
        <td><a class="nav-link active" href="#" onclick="postStatusMyAccount('myaccountImages','categorieContent');"> my photos</a></td>

      </tr>
    </table>
  </nav>

    <div id="myaccountsubDiv" class="tab-pane fade in active">
      <h3>my photos</h3>
      <div id="operations"></div>
      <table width = "100%">
        <tr>
          <td width="60%"></td>
          <td width="70">filter by:</td>
          <td width="130">licence type</td>
          <td width="100">privacy</td>
          <td>verificaion</td>
          <td></td>
        </tr>
        <tr>
          <td>
              <div style="float:left;" class="btn-group">
                  <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusMyAccount('myaccountImagesUpload','operations');" class="btn btn-secondary btn-sm">upload photo </button>
                   &nbsp; &nbsp;
              </div>
          </td>
          <td > </td>
          <td>
             <select id="licence" class="selectpicker">
                <option>all</option>
                <option>free</option>
                <option>commercial</option>
              </select>

          </td>
          <td>
              <select id="privacy" class="selectpicker">
                <option>all</option>
                <option>private</option>
                <option>public</option>
              </select>

          </td>
          <td>
              <select id="status" class="selectpicker">
                <option>all</option>
                <option>waiting</option>
                <option>rejected</option>
                <option>verified</option>
              </select>

          </td>
          <td><button style="color:white;background-color:#d65151;" type="button" onclick="filterMyPhoto('myaccountImagesByConditionFilter','');" class="btn btn-secondary btn-sm">filter </button></td>
        </tr>
      </table><br>

        <div id="operation"></div>

      <table id="imagesTable" class="table table-striped">
          <thead>
            <tr>
              <th>Image</th>
              <th>Categorie</th>
              <th>Description</th>
              <th>owner</th>
              <th>verification status</th>
              <th>licence type</th>
              <th>privacy</th>
              <th>user published</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

  


 <% for (var i=0; i<result.length; i++) {%>
 <%console.log(result[i].filepath);%>
            <tr id = "photo<%=result[i].photo_id %>">
              <td>
                <a target="_blank" onclick="makeCategorieEditable(<%=result[i].photo_id %>,'<%=result[i].photo_id %>');"  href="<%=result[i].filepath %>">
                <img src="<%=result[i].filepath %>" alt="Image" style="width:150px">
                </a>
              </td>
              <td>
                <%= result[i].photo_categorie %>
              </td>
              <td>
                <%= result[i].description %>
              </td>
              <td>
               owner
              </td>
               <td>
                  <%= result[i].adminverified %>
              </td>
              <td>
                  <%= result[i].licencetype %>
              </td>
              <td>
                  <%= result[i].privacy %>
              </td>
              <td>
                  <%= result[i].published %>
              </td>
              <td>
                  <input name="imageCheckboxids[]" type="checkbox" class="form-check-input" value="<%=result[i].photo_id %>">
                
              </td>
            </tr>

 <%}%>
            <tr>
              <td></td><td></td><td></td><td></td><td colspan="5">set selected image(s) to:
              <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusImage('waitingImage');" class="btn btn-secondary btn-sm">delete </button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusImage('waitingImage');" class="btn btn-secondary btn-sm">public </button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusImage('verifiedImage');" class="btn btn-secondary btn-sm">private</button>
                 <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusImage('rejectedImage');" class="btn btn-secondary btn-sm">commercial </button>
                 <button style="color:white;background-color:#d65151;" type="button" onclick="postStatusImage('rejectedImage');" class="btn btn-secondary btn-sm">free </button>
              </td>
            </tr>
           
          </tbody>
      </table>
      <% if ( typeof page != 'undefined' ) { %>


            <a href="#" onclick="navigateToPage('myaccountimagesChangePage','categorieContent','-');" class="first">&laquo; prev</a>
            <%var k=0;%>
            <% for ( k=1; k<=totalpage; k++) { %>
            <%if (page !=k){%>
              <a href="#" class="next round " onclick="navigateToPage('myaccountimagesChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}else{%>
              <a href="#" class="next round " style="background-color:#d65151;" onclick="navigateToPage('myaccountimagesChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}%>
            <%}%>
            <a href="#" onclick="navigateToPage('myaccountimagesChangePage','categorieContent','+');"class="last">next &raquo;</a>
      <% } %>

    </div>