
<br>
    <div id="users" class="tab-pane fade in active">
      <h3>Users</h3>
     
       <div id="operation"></div>
      <table id="usersTable" class="table table-striped">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>Account Type</th>
              <th>Last Login</th>
              <th>Account Status</th>
             

            </tr>
          </thead>
          <tbody>

  


 <% for (var i=0; i<result.length; i++) {%>

            <tr>
              <td>
               <%= result[i].firstname +" "+ result[i].lastname %>
              </td>
              <td>
                <%= result[i].email %>
              </td>
              <td>
                <%= result[i].accounttype %>
              </td>
              <td>
                <%= result[i].lastlogindate %>
              </td>
               <td>
                <%if  (result[i].suspend ==false) {%>
                    active
                <%} else {%>
                    suspended
                    <%}%>
              </td>
              <td>
                  <input name="userCheckboxids[]" type="checkbox" class="form-check-input" value="<%=result[i].user_id %>">
                
              </td>
            </tr>

 <%}%>
            <tr><td></td><td></td><td></td><td></td><td></td>
              <td>
                <button style="color:white;background-color:#d65151;" type="button" onclick="suspendUsers();" class="btn btn-secondary btn-sm">Suspend Selected</button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="activateUsers();" class="btn btn-secondary btn-sm">Activate Selected</button>
              </td>
            </tr>
           
          </tbody>
      </table>
      <% if ( typeof page != 'undefined' ) { %>


            <a href="#" onclick="navigateToPage('usersChangePage','categorieContent','-');" class="first">&laquo; Prev</a>
            <%var k=0;%>
            <% for ( k=1; k<=totalpage; k++) { %>
            <%if (page !=k){%>
              <a href="#" class="next round " onclick="navigateToPage('usersChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}else{%>
              <a href="#" class="next round " style="background-color:#d65151;" onclick="navigateToPage('usersChangePage','categorieContent','<%= k%>')"> <%= k%> </a>
            <%}%>
            <%}%>
            <a href="#" onclick="navigateToPage('usersChangePage','categorieContent','+');"class="last">Next &raquo;</a>
      <% } %>

    </div>