

<meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">

<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a href="/"><img src="/logo.jpg" id="logo" style="width:100px"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Meet the hackers</a>
            </li>
            <!-- Sign in using modal forms. WIP, import Ekta's modal sign-in -->
            <li class="nav-item">
              <% if (!session_username) { %>
              <a class="nav-link" href="/register">Sign In</a>
              <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%=session_username%></a>
                 <div class="dropdown-menu" style="padding-right:50px;">
                  <a class="dropdown-item" href="#">View Profile</a>
                   <a class="dropdown-item" href="#">Posts</a>
                    <a class="dropdown-item" href="/imgupload">Upload</a>
                    <a class="dropdown-item" href="/logout">Logout</a>

                     </li>
              <% } %>
              </li>

          </ul>
        </div>
      </nav>
    </header>


       <div class="container searchContainer">
    <div class="search card card-body">
      <h2>Search Picarousel</h2>
      <p class="lead"> Search Terms: bi, bird, birdie, dog, doggie, cute, parr, parrots, parrot, husk, huskey, king</p>
      
    <form name='search-form' class="example" method='POST' action="/search/results" style="margin:auto;max-width:300px" onsubmit='return validate()'>
  <input type="text" placeholder="Search.." name="searchKey">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
</div>
</div>

<p class= 'lead' id='noSearchKey'> </p>

<% if (result.length < 1) { %>


<script>

	(function(){
       
       document.getElementById('noSearchKey').innerHTML = 'Sorry our database is small and we could not look up your search. Please check popular searches.'

       

	})()

</script>

<% } else { %>

<p><%=matchPercent%></p>

		<% if ( searchKey != actualResult) { %>


<script>

	(function(){

       
       document.getElementById('noSearchKey').innerHTML = 'Did you mean ' + '<b><i><%=actualResult%></i></b> ? '+ 'Showing results for ' + '<b><i><%=actualResult%></b></i>' + ' instead'

       

	})()

</script>

	<% } %>

  <% for(var i=0; i < result.length; i ++){ %>

<div class="card" style="width: 18rem;display:inline-block;margin-left:50px;margin-top:20px;">
  <img src="<%=result[i].filepath%>" alt="Card image cap" style='height:250px;width:100%'>
  <div class="card-body">
    <h5 class="card-title">Related Tags</h5>
  </div>

     <ul class="list-group list-group-flush">

  <% var allDescription = result[i].description %>
  <% allDescription = allDescription.split(',') %>
  <% for (var j =0; j < allDescription.length; j++) { %> 
    <li class="list-group-item"><%=allDescription[j]%></li>
   
   <% } %>
  </ul>
</div>


  



<% }  } %>

<script>

function validate() {

   if(!document.forms['search-form']['searchKey'].value) {

          document.getElementById('noSearchKey').innerHTML = 'Please provide a search key ... '

          return false

       }
}


</script>




