
<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../css/main.css" />
 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PiCarousel</title>
</head>

  <!-- Header -->

  <style>
.btn {
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    font-size: 20px;
    height:40px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}



.show {
    display: block;
}

.radio-inline {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.radio-inline input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.radio-inline:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-inline input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.radio-inline input:checked ~ .checkmark:after {
    display: inline-block;
}

/* Style the checkmark/indicator */
.radio-inline .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


</style>
  
<body>
  <!-- Header -->
  <header class="main-header">
    <nav class="transparent nav-wrapper z-depth-0">
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-nav" class="button-collapse show-on-large">
          <i class="material-icons">menu</i>
        </a>
        <a href="/" class="brand-logo">PiCarousel</a>
        <ul class="right hide-on-med-and-down">
           <% if(session_username) { %>
            <li>
                <a href="/profile">welcome : <%=session_username%>  &nbsp;&nbsp;&nbsp;|</a>
            </li>
            <%}%>
          <li class="active">
            <a href="/imgupload">Upload</a>
          </li>
          <li>
            <a href="/about">Meet the Team</a>
          </li>
         
           <% if(session_username) { %>

            <li>
                <a href="/admin">Manage my pics</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
           <% } else { %>
            <li>
                <a href="/imgupload">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>

           <% } %>
         
         
          
        </ul>
      </div>
      <ul class="side-nav" id="mobile-nav">
         <% if(session_username) { %>
          <li>
            <a href="/profile">welcome : <%=session_username%></a>
             </li>
          <%}%>
        <li>
          <a href="/imgupload">Upload</a>
        </li>
        <li>
          <a href="/about">Meet the team</a>
        </li>
        
          <% if(session_username) { %>

                          <li>
             <a href="/admin">Manage my pics</a>
              </li>
                          <li>
           <a href="/logout">Logout</a>
            </li>
           <% } else { %>
           <li>
           <a href="/imgupload">Login</a>
            </li>
           <li>
           <a href="/register">Register</a>
            </li>

            
           <% } %>
       
        
      </ul>
    </nav>
    <h4 class="center">SFSU Software Engineering Project CSC 648-848, Summer 2018. For Demonstration Only</h4>
    <div align="center">
      <form action="/search" onsubmit="return validate()" method='post'>
     <input type="text" style="border:2px solid white;width:30%;margin-top:20px;padding:0px;" placeholder='Search images from different categories...' name="searchKey" id="searchKey">
     <button type='submit' style="height:50px;width:50px;padding:0px;color:black;"><i class="fa fa-search" style=""></i></button>
 

      <span> <select style="display:block; width:100px;color:black;" name="category">
      <option style="color:black;">All</option>
      <option style="color:black;">Animals</option>
      <option style="color:black;">Dogs</option>
      <option style="color:black;">Cities</option>
      <option style="color:black;">Birds</option>
      <option style="color:black;">Houses</option>
      <option style="color:black;">Nature</option>


     </select>
   </span>
      <p id="illegal" style="color:red;text-align: center;"></p>

   </div>
     </form>
  </header>

  
  <!-- Section: Main -->

  <section class="section section-main">
    <div class="container">
      <h2 style="text-align:center;">All Categories</i></h2>
      <hr>
      <!-- Row 1 -->
       <% for (var i =0; i < results.length; i++) { %>
               
               <% if (!(i%2 === 0)) { %>
      <div class="row row-<%=i%>">
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3><%=results[i].title%></h3>
             <%=results[i].description%>
          </div>
        </div>
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="/<%=results[i].filepath%>" alt="">
              <span class="card-title"> <%=results[i].title%> </span>
              <a href="#abstract<%=i%>" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <% if (session_username) {  %>

              
             <a href="/<%=results[i].filepath%>" download> <button class="btn">
             <i class="fa fa-download"></i> Download</button></a>
             <% } else { %>
               
              <a href="/login"> <button class="btn">
             <i class="fa fa-download"></i> Download</button></a>

             <% } %>

            </div>
          </div>
        </div>
      </div>

      <% } else { %>

      <!-- Row 2 -->
      <div class="row row-<%=i%>">
        <div class="col m6">
          <div class="card">
            <div class="card-image">
              <img src="/<%=results[i].filepath%>" alt="">
              <span class="card-title"> <%=results[i].title%></span>
              <a href="#abstract<%=i%>" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
               <% if (session_username) {  %>

             <a href="/<%=results[i].filepath%>" download> <button class="btn">
             <i class="fa fa-download"></i> Download</button></a>
             <% } else { %>
              

              <a href="/login"> <button class="btn">
             <i class="fa fa-download"></i> Download</button></a>

             <% } %>
            </div>
          </div>
        </div>
        <div class="col m6 hide-on-small-only">
          <div class="img-content">
            <h3><%=results[i].title%></h3>
           <%=results[i].description%>
          </div>
        </div>
      </div>

      <% } }%>
    </div>
  </section>

  <!-- Footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">PiCarousel</h5>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="/about">Meet the Team</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/imgupload">Upload</a>
            </li>
             <% if(!session_username) { %>
            <li>
              <a class="grey-text text-lighten-3" href="/register">Register</a>
            </li>
            <% } %>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 PiCarousel
        
      </div>
    </div>
  </footer>

  <!-- Modal 1 -->

  <% for (var i=0; i < results.length; i++) { %>
  <div id="abstract<%=i%>" class="modal">
    <div class="modal-content">
      <h4><%=results[i].title%></h4>
      <img src="/<%=results[i].filepath%>" alt="" class="responsive-img"> 
    </div>
    <%=results[i].description%>
    <div class="modal-footer">
    </div>
  </div>

  <% } %>

  



  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="script/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      // Init Sidenav
      $('.button-collapse').sideNav();

      // Init Modal
      $('.modal').modal();

      // Scrollfire
      const options = [
        {
          selector: '.row-1', offset: 50, callback: function (el) {
            Materialize.fadeInImage($(el));
          }
        },
        {
          selector: '.row-2', offset: 300, callback: function (el) {
            Materialize.fadeInImage($(el));
          }
        },
        {
          selector: '.row-3', offset: 400, callback: function (el) {
            Materialize.fadeInImage($(el));
          }
        }
      ];

      Materialize.scrollFire(options);

    });
  </script>

  <script>
  
           function validate() {

                let special = new RegExp(/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/);
                //alert(document.getElementById('searchKey').value)
                 if(special.test(document.getElementById('searchKey').value)){
                     document.getElementById('illegal').innerHTML = '* Illegal character encountered'
                     return false
                 }

                 if(document.getElementById('searchKey').value.length < 1) {

                   document.getElementById('illegal').innerHTML = '* Please provide a search key'

                   return false

                 }
           }

  </script>

  
</body>

</html>