  
<div class="container-fluid bg-3 text-center">    
  <h3>Categories</h3><br>
  <table>
  <tr><td>categorie name</td><td></td></tr>
   <% for (i=0; i<result.length; i++) {%>
  <tr id = "categorie<%=result[i].categorie_id %>"><td ><a onclick="makeCategorieEditable(<%=result[i].categorie_id %>,'<%=result[i].categorie %>');" href="#<%=result[i].categorie_id %>"><%=result[i].categorie %></a></td><td><a  href="#<%=result[i].categorie_id %>">delete<a/></td></tr>
  <%}%>
  </table>
</div><br>